<%= simple_form_for ([@post, @post.comments.build]) do |form| %>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field form-group">
    <%= form.text_area :content, class:"form-control", :rows => 4, placeholder:"Comment" %>
  </div> 

  <div class="field form-group">
    <%= form.number_field :user_id, id: :comment_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <br>
  
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
  <% end %> 