  <%= simple_form_for @post do |form| %>

  <div class="field form-group">
    <strong>Title:</strong>
    <%= form.text_field :title, class:"form-control", placeholder:"Title" %>
  </div>

  <div class="field form-group">
    <strong>Content:</strong>
    <%= form.text_area :content, class:"form-control", :rows => 4, placeholder:"Content" %>
  </div> 

  <div class="field form-group">
    <%= form.number_field :user_id, id: :post_user_id, class:"form-control", value:current_user.id,
    type: :hidden %>
  </div>

  <div class="field form-group">
    <strong>Category:</strong>
    <%= form.select :category_id, Category.all.map {|c| [c.category, c.id]} %>
  </div>
  
  <br>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
  
  <% end %> 
