<% if user_signed_in?%>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @friendstables.each do |friendstable| %>
    <% if friendstable.user == current_user %>
      <tr>
        <td>
        <%= link_to friendstable.first_name + '' + friendstable.last_name, friendstable %>
        </td>
        <td><%= friendstable.email %></td>
        <td><%= friendstable.phone %></td>
        <td><%= friendstable.twitter %></td>
        <td><%= link_to 'Delete', friendstable, method: :delete, data: { confirm: 'Are you sure?' },
         class: "btn btn-danger btn-sm" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add New', new_friendstable_path, class:"btn btn-primary" %>

<% else %>
  <h1>This is our home webpage</h1>
  <p>I am using Rails for this project.</p>
<% end %>